/* ======== RESET ======== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Remove margens padrão */
body,
html {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 50vh;
}

/* Vídeo ocupando a tela inteira */
#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* mantém proporção e cobre toda a tela */
    z-index: -1; /* fica atrás do conteúdo */
}

/* Conteúdo por cima */
.conteudo {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    margin-top: 40vh;
    font-size: 2rem;
}


/* ======== CARD COM EFEITO VIDRO ======== */
.container {
    width: 350px;
    padding: 35px 30px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(12px);
    border-radius: 18px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
    color: #fff;
    text-align: left;
}

.container h2 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.7rem;
    font-weight: 600;
}

/* ======== INPUTS ======== */
label {
    font-size: 0.9rem;
    margin-bottom: 5px;
    display: block;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 18px;
    border-radius: 10px;
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.18);
    color: #fff;
    font-size: 0.95rem;
}

input::placeholder {
    color: #e0e0e0;
}

/* ======== BOTÃO ======== */
button {
    width: 100%;
    padding: 12px;
    background: #fff;
    color: #000;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    margin-top: 5px;
    transition: 0.2s;
}

button:hover {
    background: #eaeaea;
}

/* ======== LINK DE LOGIN ======== */
.login-link {
    margin-top: 18px;
    text-align: center;
    font-size: 0.85rem;
}

.login-link a {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}