
@media (max-width: 428px) {


    header {
        justify-content: space-between;
        padding: 1rem;
    }

    .menu-btn {
        display: flex;
        /*tornando o menuHamburger Visível*/
        margin-right: -20rem;
        /*posicionamento do menu*/
        justify-content: center;
    }

    /* MENU VERTICAL */
    .nav-menu {
        position: absolute;
        top: -30rem;
        /* começa escondido acima */
        left: 0rem;
        /*ajustando o alinhamento do menu*/
        width: 100%;
        /*largura total da caixa do menu*/
        height: 50vh;
        /*altura da caixa do menu*/
        background-color: #ffffffad;
        transition: to 0.3s ease-in-out;
        /* transição suave */
        display: flex;
        /*alinhamento dos itens*/
        justify-content: center;
        /*alinhamento horizontal*/
        align-items: center;
        /*alinhamento vertical*/
        text-align: center;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }

    .dark .nav-menu {
        background-color: #000000a1;
    }

    .show {
        /*essa class será usada pelo JavaScript para ação do menu*/
        top: 99px;
        /* desce suavemente quando é ativado */
        left: 0rem;
        /*posicionamento do menu*/
    }

    .ul-list2 {
        flex-direction: column;
        gap: 10px;
        padding: 1rem;
    }


    .img-header img {
        height: 4rem;
        width: 50%;
    }

    .navegador ul {
        gap: 20px;
    }

    .navegador a {
        font-size: 1.3rem;
    }

    .navegador li:hover {
        transform: none;
    }

    .img-banner img {
        margin-left: 0px;
        width: 100%;
        height: 25rem;
    }

    .menu-desktop {
        display: none;
    }

    .btn button {
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: 999;
    }

    .btn img {
        margin-left: 0px;
    }

    .title-one {
        padding: 0px;
        margin-left: 0px;
        width: 90%;
    }

    .title-one h2 {
        margin-top: 50px;
        margin-bottom: 40px;
        margin-left: 95px;
        font-size: 1.5rem;
    }

    .cx-img {
        margin-top: 0px;
        margin-left: 30px;
        padding-bottom: 0px;
        flex-direction: column;
    }

    .cxs img {
        margin-left: 20px;
        width: 85%;
    }

    .cxs img:hover {
        transform: none;
    }

    .crd {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .title-two {
        padding: 0px;
        margin-top: 50px;
        margin-bottom: 40px;
        margin-left: 95px;
        width: 90%;
    }

    .tx {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .conteu {
        flex-direction: column;
    }

    .conteu2 {
        flex-direction: column-reverse;
    }

    .ban {
        padding: 8rem;
    }

    .info-wrapper {
        flex-direction: column;
    }

    .info-card {
        width: 300px;
        padding: 0px;
    }

    .horario ul,
    li {
        padding: 0px;
        gap: 5px;
    }

    iframe {
        width: 300px;
        height: 300px;
    }

    .footer-head {
        gap: 30px;
    }

    .footer-columns {
        flex-wrap: wrap;
    }
}

@media (max-width: 320px) {

    header {
        justify-content: space-between;
        padding: 0.5rem;
    }

    .menu-btn {
        display: flex;
        /*tornando o menuHamburger Visível*/
        margin-right: -17rem;
        /*posicionamento do menu*/
        justify-content: center;
    }

    /* MENU VERTICAL */
    .nav-menu {
        position: absolute;
        top: -30rem;
        /* começa escondido acima */
        left: 0rem;
        /*ajustando o alinhamento do menu*/
        width: 100%;
        /*largura total da caixa do menu*/
        height: 45vh;
        /*altura da caixa do menu*/
        background-color: #ffffff8e;
        transition: top 0.3s ease-in-out;
        /* transição suave */
        display: flex;
        /*alinhamento dos itens*/
        justify-content: center;
        /*alinhamento horizontal*/
        align-items: center;
        /*alinhamento vertical*/
    }

    .show {
        /*essa class será usada pelo JavaScript para ação do menu*/
        top: 80px;
        /* desce suavemente quando é ativado */
        left: 0rem;
        /*posicionamento do menu*/
    }

    .ul-list2 {
        flex-direction: column;
        gap: 10px;
        padding: 1rem 0;
    }
    
    .navegador ul {
        gap: 5px;
    }

    .img-header img {
        width: 50%;
    }

    .img-banner img {
        margin-left: 0px;
        width: 100%;
        height: 25rem;
    }

    .menu-desktop {
        display: none;
    }

    .btn button {
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: 999;
    }

    .btn img {
        margin-left: 0px;
    }

    .title-one {
        padding: 0px;
        margin-left: 0px;
        width: 90%;
    }

    .title-one h2 {
        margin-top: 50px;
        margin-bottom: 40px;
        margin-left: 43px;
        font-size: 1.4rem;
    }

    .cx-img {
        margin-top: 0px;
        margin-left: 30px;
        padding-bottom: 0px;
        flex-direction: column;
    }

    .cxs img {
        margin-left: 20px;
        width: 85%;
    }

    .cxs img:hover {
        transform: none;
    }

    .crd {
        flex-direction: column;
        margin-left: 38px;
    }

    .title-two {
        padding: 0px;
        margin-top: 50px;
        margin-bottom: 40px;
        margin-left: 22px;
        width: 90%;
    }

    .tx {
        flex-direction: column;
        margin-left: 40px;
    }

    .conteu {
        flex-direction: column;
    }

    .conteu2 {
        flex-direction: column-reverse;
    }

    .ban {
        padding: 8rem;
    }

    .info-wrapper {
        flex-direction: column;
    }

    .info-card {
        width: 300px;
        padding: 0px;
    }

    .horario ul,
    li {
        padding: 0px;
        gap: 5px;
    }

    iframe {
        width: 300px;
        height: 300px;
    }

    .footer-head {
        flex-direction: column;
    }

    .footer-columns {
        flex-wrap: wrap;
    }
}
