body {
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.btn {
    margin-left: 100px;
}

.btn button {
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
    border: none;
    z-index: 999;
}


/* Ícone do menu (hambúrguer) */
.menu-btn {
  font-size: 2rem;
  cursor: pointer;
  display: none; /* torna o item invisível/só aparece no mobile */
}
/* navegação do menu hamburguer */
.nav-menu {
  display: none; /*só irá aparecer no mobile*/
}


.img-header {
    width: 30%;
}

.img-header img {
    width: 10%;
}

.navegador ul {
    display: flex;
    padding: 0;
    gap: 40px;
}

.navegador li {
    list-style: none;
    transition: 0.8s;
}

.navegador li:hover {
    transform: scale(1.2);
}

.navegador a {
    color: #000000d8;
    text-decoration: none;
}

.dark .navegador a {
    color: #ffffff;
}


.img-banner img {
    margin-left: 60px;
    border-radius: 25px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.76);
    width: 90%;
    height: 40rem;
}

.cx-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 2rem;
    margin-top: 50px;
    margin-left: 100px;
}

.dark .cx-img {
    margin-top: 50px;
    margin-left: 0px;
    background-color: rgba(255, 255, 255, 0.932);
    border-radius: 30px;
}

.cxs img {
    width: 40%;
    cursor: pointer;
    transition: 0.8s;
}

.cxs img:hover {
    transform: scale(1.2);
}


.for img {
    width: 55%;
}

.title-one {
    margin-left: 90px;
    padding: 1rem;
}

.title-one h2 {
    font-size: 2rem
}

.imgs {
    height: 170px;
}

.crd {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    border: 2px solid #ffffff;
    border-radius: 5px;
    gap: 10px;
    width: 250px;
    height: 290px;
}

.dark .cards {
    border-radius: 5px;
    background-color: white;
    color: black;
}

.cards button {
    border: none;
    border-radius: 20px;
    margin-top: 5px;
    cursor: pointer;
    padding: 6px;
    background-color: rgba(255, 68, 0, 0.904);
    color: white;
}

.cards h3 {
    margin-top: 5px;
    margin-bottom: 0px;
}

.dark .cards img {
    border-radius: 5px;
}

.cards img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
}

.title-two {
    margin-left: 80px;
    padding: 2rem;
}

.dark {
    background-color: #181818;
    color: rgb(255, 255, 255);
}

.md {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    border: 2px solid #dcdcdc;
    cursor: pointer;
    gap: 10px;
    width: 250px;
    height: 240px;
}

.dark .md {
    border-radius: 5px;
    background-color: white;
    color: black;
}

.sedan h3 {
    margin-top: 0px;
    margin-bottom: 50px;
}

.coupe img {
    height: 170px;
}

.eletrico img {
    height: 300px;
}

.eletrico h3 {
    margin-bottom: 20px;
}

.md img {
    width: 100%;
}

.tx {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.conteu {
    width: 90%;
    max-width: 1600px;
    margin: 100px auto;
    display: flex;
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    border: 2px solid #dcdcdc;
}

.conteu img {
    width: 50%;
}

.texto {
    flex: 2;
    padding: 40px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.texto h3 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 700;
    color: #000;
}

.texto p {
    font-size: 16px;
    line-height: 1.6;
    font-weight: 600;
    color: #2e2d2d;
}

.bnr {
    flex: 1;
}

.bnr img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.conteu2 {
    width: 90%;
    max-width: 1600px;
    margin: 100px auto;
    display: flex;
    flex-direction: row-reverse;
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    border: 2px solid #dcdcdc;
}

.conteu2 img {
    width: 50%;
}

.texto2 {
    flex: 2;
    padding: 40px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.texto2 h3 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 700;
    color: #000;
}

.texto2 p {
    font-size: 16px;
    line-height: 1.6;
    font-weight: 600;
    color: #2e2d2d;
}

.bnr2 {
    flex: 1;
}

.bnr2 img {
    width: 100%;
    height: 22rem;
    object-fit: cover;
}

/* --------------------- */
/* SEÇÃO: HORÁRIO + MAPA */
/* --------------------- */

.info-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px 20px;
}

.info-card {
    width: 350px;
    height: auto;
    min-height: 250px;
    border-radius: 4px;
    padding: 30px;
    text-align: center;
    font-family: "Georgia", serif;
}

.info-card h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 25px;
}

.horario ul {
    list-style: none;
    padding: 0;
}

.horario li {
    font-size: 20px;
    font-weight: 700;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

.ban {
    padding: 25rem;
    background: url('imagens/motor.jpg') no-repeat center/cover;
}

/* Mapa */
.map {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* --------------------- */
/* FOOTER */
/* --------------------- */

.footer-dark {
    background: #ffffff;
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    color: #000000;
    font-family: "Arial", sans-serif;
}

.dark .footer-dark {
    background-color: #111;
}

.footer-container {
    width: 100%;
    max-width: 1100px;
}

.footer-head {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 40px;
}

.footer-logo img {
    width: 90px;
}


.footer-columns {
    display: flex;
    gap: 50px;
}

.footer-columns ul {
    list-style: none;
    padding: 0;
}

.footer-columns ul li {
    color: #000000;
    margin: 5px 0;
    font-size: 13px;
    letter-spacing: 0.5px;
    cursor: pointer;
}

.dark .footer-columns ul li {
    color: #fffdfd;
}

.footer-columns ul li:hover {
    color: rgb(0, 0, 0);
}

.dark .footer-columns ul li:hover {
    color: rgb(0, 0, 0);
}

hr {
    border: none;
    border-top: 1px solid #333;
    margin: 20px 0 30px;
}

.dark hr {
    border-color: white;
}

.footer-bottom {
    text-align: center;
}

.social-icons a {
    display: inline-flex;
    width: 32px;
    height: 32px;
    margin: 0 5px;
    border: 1px solid #000000;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-size: 14px;
    transition: 0.3s ease;
}

.dark .social-icons a {
    border-color: white;
    color: white;
}

.social-icons a:hover {
    background: #fff;
    color: #000;
}

.copy {
    margin-top: 15px;
    color: #777;
    font-size: 12px;
}

.dark .copy {
    color: white;
}