header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.btn {
    margin-left: 100px;
}

.btn button {
    background-color: rgba(0, 0, 0, 0);
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
    border: none;
}

.img-header {
    width: 30%;
}

.img-header img {
    width: 10%;
}

.navegador ul {
    display: flex;
    padding: 0;
    gap: 40px;
}

.navegador li {
    list-style: none;
    transition: 0.8s;
}

.navegador li:hover {
    transform: scale(1.2);
}

.navegador a {
    color: #000000d8;
    text-decoration: none;
}

.dark .navegador a {
    color: #ffffff;
}


.img-banner img {
    margin-left: 60px;
    border-radius: 25px;
    box-shadow: 10px 10px 20px black;
    width: 90%;
    height: 30rem;
}

.cx-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 2rem;
    margin-top: 50px;
    margin-left: 100px;
}

.dark .cx-img {
    margin-top: 50px;
    margin-left: 0px;
    background-color: rgba(255, 255, 255, 0.932);
    border-radius: 30px;
}

.cxs img {
    width: 40%;
    cursor: pointer;
    transition: 0.8s;
}

.cxs img:hover {
    transform: scale(1.2);
}


.for img {
    width: 55%;
}

.title-one {
    margin-left: 90px;
    padding: 1rem;
}

.title-one h2 {
    font-size: 2rem
}

.imgs {
    height: 170px;
}

.crd {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.192);
    gap: 10px;
    width: 250px;
    height: 310px;
}

.dark .cards {
    background-color: white;
    color: black;
}

.cards button {
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    padding: 6px;
    background-color: rgba(255, 68, 0, 0.904);
    color: white;
}

.cards h3 {
    margin-top: 5px;
}

.cards img {
    width: 100%;
}

.title-two {
    margin-left: 70px;
    padding: 2rem;
}

.dark {
    background-color: #181818;
    color: rgb(255, 255, 255);
}

.md {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(218, 215, 215);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.192);
    gap: 10px;
    width: 250px;
    height: 240px;
}

.dark .md {
    background-color: white;
    color: black;
}

.coupe img {
    height: 170px;
}

.eletrico img {
    height: 300px;
}

.eletrico h3 {
    margin-bottom: 20px;
}

.md img {
    width: 100%;
}

.tx {
    display: flex;
    justify-content: center;
    gap: 50px;
}