header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.img-header {
    width: 30%;
}

.img-header img {
    width: 10%;
}

.navegador ul {
    display: flex;
    padding: 0;
    gap: 40px;
}

.navegador li {
    list-style: none;
    transition: 0.8s;
}

.navegador li:hover {
    transform: scale(1.2);
}

.navegador a {
    color: black;
    width: 500px;
    text-decoration: none;
}


.img-banner img {
    margin-left: 60px;
    border-radius: 25px;
    box-shadow: 10px 10px 20px black;
    width: 90%;
    height: 30rem;
}

.cx-img {
    display: flex;
    align-items: center;
    padding: 1rem;
    margin-left: 100px;
}

.cxs img {
    width: 40%;
    transition: 0.8s;
}

.cxs img:hover {
    transform: scale(1.2);
}


.for img {
    width: 55%;
}

.title-one {
    margin-left: 90px;
    padding: 1rem;
}

.title-one h2 {
    font-size: 2rem
}

.crd {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.cards {
    border: 1px solid black;
    padding: 5px;
    width: 17%;
    height: 17rem;
}

.three img {
    height: 9.5rem;
}

.cards img{
    width: 100%;
}
